<!-- Nav section -->
<section>
  <nav class="navbar navbar-expand-lg fixed-top">
    <div class="container">
      <a class="navbar-brand me-auto">
        <img src="../../../../../assets/logo2.png" alt="" class="logo" />
        <span class="mhub ms-2"> Matrimonial Hub</span>
      </a>
      <div
        class="offcanvas offcanvas-end"
        tabindex="-1"
        id="offcanvasNavbar"
        aria-labelledby="offcanvasNavbarLabel"
      >
        <div class="offcanvas-header">
          <h5
            class="offcanvas-title"
            id="offcanvasNavbarLabel"
            style="font-weight: bold; color: black"
          >
            <span class="mhub">Matrimonial website</span>
          </h5>
          <button
            type="button"
            class="btn-close text-light"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          ></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link mx-lg-2" aria-current="page" href="#hero"
                >Home</a
              >
            </li>

            <li class="nav-item">
              <a class="nav-link mx-lg-2" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-lg-2" href="#services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-lg-2" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
      <a
        href="#"
        class="login-button"
        routerLink="/login"
        routerLinkActive="active"
        >Login</a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>
</section>

<!-- Hero section -->
<section id="hero" class="hero text-center">
  <div class="container">
    <div class="row mt-4">
      <div class="col-md-6 mt-4 animations">
        <h1 class="animations text-light">Here soulmates meet and stories begin!
        </h1>
        <p class="animations text-light">
        <br />Experience the joy of finding your soulmate in a secure and welcoming environment, where every profile is meticulously verified for authenticity.
        </p>
        <div class="p-5 ">
          <a routerLink="/signup" class="login-button btn btn-warning me-3">Sign Up</a>
          <a routerLink="/login" class="login-button btn btn-warning">Sign in</a>
        </div>
      </div>
      <div class="col-md-6 mt-4 animations">
      </div>
    </div>
  </div>
</section>

<!-- About Us -->


<section class="about pb-5" id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="https://static.vecteezy.com/system/resources/previews/012/011/843/non_2x/indian-wedding-couple-character-bride-and-groom-free-png.png" alt="About Us Image" class="img-fluid">
      </div>
      <div class="col-md-6">
        <div class="text-center mb-5">
          <h1 data-aos="fade-up">About Us</h1>
          <hr class="w-25 m-auto" />
        </div>
        <div data-aos="fade-right" data-aos-offset="200">
          
          <p class="p-2"> 
            Welcome to <strong>Matrimony Hub</strong>, your trusted partner in finding love.<br> At Matrimony Hub, we understand that finding your life partner is one of the most significant decisions in life.<br> We prioritize security, privacy, and personalized matchmaking to simplify your search. Our platform is designed to offer a reliable, enjoyable, and successful matchmaking experience.<br> Join us today and start your journey to finding a meaningful and lasting relationship.
          </p>
          <button type="button" class="btn btn-light mb-5">Know More</button>
        </div>
      </div>
    </div>
  </div>
</section>



<!-- services section -->
<section class="services py-5" id="services">
  <div class="container">
    <div class="text-center my-5">
      <h1 data-aos="fade-up">Our Services</h1>
      <hr class="w-25 m-auto" />
    </div>
    <div class="row" data-aos="zoom-in-up" data-aos-offset="200">
      <div class="col-sm-12 col-md-4 col-lg-4 col-12 mt-4">
        <div class="card card-hover">
          <div class="card-body">
            <i class="fa fa-handshake p-2 mb-2 text-white rounded"></i>
            <h5 class="card-title my-3">Tailored Matchmaking</h5>
            <p class="card-text">
              "Leverage our sophisticated algorithms to discover partners that align with your preferences, offering a tailored matchmaking experience that fosters genuine connections."
            </p>
            <a href="#" class="btn text-light">More</a>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4 col-12 mt-4">
        <div class="card card-hover">
          <div class="card-body">
            <i class="fa fa-shield-alt p-2 mb-2 text-white rounded"></i>
            <h5 class="card-title my-3">Authentic Profiles</h5>
            <p class="card-text">
              "Each profile is rigorously verified to guarantee authenticity and safety. Engage with real individuals for a dependable and secure matchmaking journey."
            </p>
            <a href="#" class="btn text-light">More</a>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4 col-12 mt-4">
        <div class="card card-hover">
          <div class="card-body">
            <i class="fa fa-lock p-2 mb-2 text-white rounded"></i>
            <h5 class="card-title my-3">Security and Confidentiality</h5>
            <p class="card-text">
              "We place utmost importance on your privacy and security with robust safeguards and customizable settings, ensuring your personal information remains protected."
            </p>
            <a href="#" class="btn text-light">More</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-2" data-aos="zoom-in-down" data-aos-offset="200">
      <div class="col-sm-12 col-md-4 col-lg-4 col-12 mt-4">
        <div class="card card-hover">
          <div class="card-body">
            <i class="fa fa-id-card p-2 mb-2 text-white rounded"></i>
            <h5 class="card-title my-3">Comprehensive Profiles</h5>
            <p class="card-text">
              "Profiles provide detailed insights into interests, lifestyle, and background, enabling you to make informed choices and better understand potential matches."
            </p>
            <a href="#" class="btn text-light">More</a>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4 col-12 mt-4">
        <div class="card card-hover">
          <div class="card-body">
            <i class="fa fa-headset p-2 mb-2 text-light rounded"></i>
            <h5 class="card-title my-3">Round-the-Clock Support</h5>
            <p class="card-text">
              "Our 24/7 customer support team is always ready to assist with any
              questions or issues, ensuring a smooth and satisfying experience."
            </p>
            <a href="#" class="btn text-light">More</a>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4 col-12 mt-4">
        <div class="card card-hover">
          <div class="card-body">
            <i class="fa fa-trophy p-2 mb-2 text-white rounded"></i>
            <h5 class="card-title my-3">Success Stories and Advice</h5>
            <p class="card-text">
              "Explore motivating success stories and expert relationship advice to support you on your path to discovering the ideal match."
            </p>
            <a href="#" class="btn text-light">More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- contact section -->

<section class="contact py-5" id="contact">
  <div class="container mb-5">
    <div class="text-center my-5">
      <h1>Contact Us</h1>
      <hr class="w-25 m-auto" />
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6 col-12 mt-4">
        <div class="contact-form">
          <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <label for="name" class="form-label"
                ><strong>Your Name</strong></label
              >
              <input
                type="text"
                class="form-control"
                formControlName="name"
                placeholder="Enter your name"
                required
              />
            </div>
            <div class="mb-3">
              <label for="email" class="form-label"
                ><strong>Email Address</strong></label
              >
              <input
                type="email"
                class="form-control"
                formControlName="email"
                placeholder="Enter Your Email address"
                required
              />
            </div>
            <div class="mb-3">
              <label for="message" class="form-label"
                ><strong>Your Message</strong></label
              >
              <textarea
                class="form-control"
                formControlName="message"
                rows="4"
                required
              ></textarea>
            </div>
            <button
              type="submit"
              class="btn btn-success"
              [disabled]="contactForm.invalid"
            >
              Send Message
            </button>
          </form>
        </div>
      </div>
      <div
        class="col-sm-12 col-md-6 col-lg-6 col-12 m-auto text-center about-img mt-4"
      >
        <img src="https://th.bing.com/th?id=OIP.cYLyLIkYYOUerl8b38Tf9gHaLH&w=204&h=306&c=8&rs=1&qlt=90&o=6&dpr=1.4&pid=3.1&rm=2" alt="" class="card-hover" />
      </div>
    </div>
  </div>
</section>
