<app-navbar></app-navbar>


 <!-- services section -->
 <section class="services py-5" id="services">
  <div class="container">
    <div class="text-center my-5">
      <h1 data-aos="fade-up">Our Services</h1>
      <hr class="w-25 m-auto" />
    </div>
    <div class="row" data-aos="zoom-in-up" data-aos-offset="200">
      <div class="col-sm-12 col-md-4 col-lg-4 col-12 mt-4">
        <div class="card card-hover">
          <div class="card-body">
            <i class="fa fa-handshake p-2 mb-2 text-white rounded"></i>
            <h5 class="card-title my-3">Personalized Matchmaking</h5>
            <p class="card-text">
              "Utilize our advanced algorithms to uncover partners that resonate with your preferences, providing a personalized matchmaking journey that nurtures authentic connections."
            </p>
            <a href="#" class="btn text-light">More</a>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4 col-12 mt-4">
        <div class="card card-hover">
          <div class="card-body">
            <i class="fa fa-shield-alt p-2 mb-2 text-white rounded"></i>
            <h5 class="card-title my-3">Verified Profiles</h5>
            <p class="card-text">
              "Every profile undergoes rigorous verification to ensure genuineness and safety. Engage with real individuals for a trustworthy and secure matchmaking experience."
            </p>
            <a href="#" class="btn text-light">More</a>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4 col-12 mt-4">
        <div class="card card-hover">
          <div class="card-body">
            <i class="fa fa-lock p-2 mb-2 text-white rounded"></i>
            <h5 class="card-title my-3">Privacy and Security</h5>
            <p class="card-text">
              "We prioritize your privacy and safety with robust protections and customizable settings, ensuring your personal data remains safeguarded."
            </p>
            <a href="#" class="btn text-light">More</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-2" data-aos="zoom-in-down" data-aos-offset="200">
      <div class="col-sm-12 col-md-4 col-lg-4 col-12 mt-4">
        <div class="card card-hover">
          <div class="card-body">
            <i class="fa fa-id-card p-2 mb-2 text-white rounded"></i>
            <h5 class="card-title my-3">Detailed Profiles</h5>
            <p class="card-text">
              "Profiles offer detailed insights into interests, lifestyle, and background, empowering you to make informed decisions and better understand potential matches."
            </p>
            <a href="#" class="btn text-light">More</a>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4 col-12 mt-4">
        <div class="card card-hover">
          <div class="card-body">
            <i class="fa fa-headset p-2 mb-2 text-light rounded"></i>
            <h5 class="card-title my-3">24/7 Support</h5>
            <p class="card-text">
              "Our customer service team is available 24/7, ready to assist with any queries or concerns, ensuring a seamless and satisfactory experience."
            </p>
            <a href="#" class="btn text-light">More</a>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4 col-12 mt-4">
        <div class="card card-hover">
          <div class="card-body">
            <i class="fa fa-trophy p-2 mb-2 text-white rounded"></i>
            <h5 class="card-title my-3">Success Stories and Tips</h5>
            <p class="card-text">
              "Explore inspiring success stories and expert relationship guidance to assist you in finding your ideal match."
            </p>
            <a href="#" class="btn text-light">More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>