<app-navbar></app-navbar>

<!-- Hero section -->
<section id="hero" class="hero text-center">
  <!-- <video autoplay muted loop plays-inline id="heroVideo" class="video-background">
    <source src="../../../../../assets/background-vedio1.mp4" type="video/mp4">
  </video> -->

  <div class="container">
    <!-- <h1 class="animations text-start text-light">Find Your Perfect Match !!</h1>
    <p class="animations text-start text-light">
      We're dedicated to helping you discover meaningful connections.<br>Start your
      journey towards finding the one meant for you.
    </p> -->
    <div class="row mt-4">
      <div class="col-md-6 mt-4 animations">
        <h1 class="animations text-light">Here soulmates meet and stories begin!
        </h1>
        <p class="animations text-light">
        <br />Experience the joy of finding your soulmate in a secure and welcoming environment, where every profile is meticulously verified for authenticity.
        </p>
        <div class="p-5 ">
          <!-- <a routerLink="/signup" class="login-button btn btn-warning me-3">Sign Up</a>
          <a routerLink="/login" class="login-button btn btn-warning">Sign in</a> -->
          <p class="handwriting">
            <br /> Embark on your magnificent voyage towards extraordinary adventures and boundless dreams.
            </p>
        </div>
      </div>
      <div class="col-md-6 mt-4 animations">
        
      </div>
    </div>
  </div>
</section>
