<app-navbar></app-navbar>

<section class="about pb-5 " id="about">
  <div class="container">
    <div class="text-center mb-5">
      <h1>About <span class="text-light">Us</span></h1>
      <hr class="w-25 m-auto" />
    </div>
    <div class="row">
      <div
        class="col-sm-12 col-md-6 col-lg-6 col-12"
    
      >
        
        <p class="p-2">
          
            Welcome to <strong>Matrimony Hub</strong>, your trusted partner in finding love.<br> At Matrimony Hub, we understand that finding your life partner is one of the most significant decisions in life.<br> We prioritize security, privacy, and personalized matchmaking to simplify your search. Our platform is designed to offer a reliable, enjoyable, and successful matchmaking experience.<br> Join us today and start your journey to finding a meaningful and lasting relationship.
          
          
        </p>

        <button type="button" class="btn btn-success mb-5">Know More</button>

       
          </div>
        </div>
      </div>
      
    
</section>